.vcenter {
	vertical-align: middle;
}

.pokemon-header {
	color: #7a7a7a;
	margin-bottom: 50px;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.2);
}

.pokemon-header h1 {
	font-size: 4em;
}

.pokemon-header p {
	font-size: 2em;
}

h3.panel-title {
	color: white;
}

.menufeu, .panel>.menufeu{
	background-color: #F44336;
}

.menueau, .panel>.menueau {
	background-color: #2196F3;
}

.menuplante, .panel>.menuplante {
	background-color: #4CAF50;
}

.menupoison, .panel>.menupoison {
	background-color: #9C27B0;
}

.menuinsecte, .panel>.menuinsecte {
	background-color: #8BC34A;
}

.menuvol, .panel>.menuvol {

}

.menunormal, .panel>.menunormal {
	background-color: #E91E63;
}

.menuelectrique, .panel>.menuelectrique {
	background-color: #FFC107;
}

.menusol, .panel>.menusol {
	background-color: #8D6E63;
}

.menucombat, .panel>.menucombat {
	background-color: #C62828;
}

.menupsy, .panel>.menupsy {
	background-color: #C2185B;
}

.menuroche, .panel>.menuroche {
	background-color: #795548;
}

.menuspectre, .panel>.menuspectre {
	background-color: #673AB7;
}

.menudragon, .panel>.menudragon {
	background-color: #3F51B5;
}

.menuglace, .panel>.menuglace {
	background-color: #03A9F4;
}

.type {
	position: absolute;
	top: 0;
	left: 0;
	height: 700px;
	width: 100%;
}

.typefeu {
	background: -moz-linear-gradient(top, rgba(247,192,152,1) 0%, rgba(240,227,218,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,192,152,1)), color-stop(77%,rgba(240,227,218,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(247,192,152,1) 0%,rgba(240,227,218,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(247,192,152,1) 0%,rgba(240,227,218,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(247,192,152,1) 0%,rgba(240,227,218,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(247,192,152,1) 0%,rgba(240,227,218,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c098', endColorstr='#00eeeeee',GradientType=0 );
}

.typeeau {
	background: -moz-linear-gradient(top, rgba(154,181,245,1) 0%, rgba(219,225,240,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(154,181,245,1)), color-stop(77%,rgba(219,225,240,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(154,181,245,1) 0%,rgba(219,225,240,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(154,181,245,1) 0%,rgba(219,225,240,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(154,181,245,1) 0%,rgba(219,225,240,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(154,181,245,1) 0%,rgba(219,225,240,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ab5f5', endColorstr='#00eeeeee',GradientType=0 );
}

.typeplante {
	background: -moz-linear-gradient(top, rgba(189,228,171,1) 0%, rgba(227,236,223,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,228,171,1)), color-stop(77%,rgba(227,236,223,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(189,228,171,1) 0%,rgba(227,236,223,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(189,228,171,1) 0%,rgba(227,236,223,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(189,228,171,1) 0%,rgba(227,236,223,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(189,228,171,1) 0%,rgba(227,236,223,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bde4ab', endColorstr='#00eeeeee',GradientType=0 );
}

.typepoison {
	background: -moz-linear-gradient(top, rgba(223,176,223,1) 0%, rgba(235,224,235,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,176,223,1)), color-stop(77%,rgba(235,224,235,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(223,176,223,1) 0%,rgba(235,224,235,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(223,176,223,1) 0%,rgba(235,224,235,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(223,176,223,1) 0%,rgba(235,224,235,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(223,176,223,1) 0%,rgba(235,224,235,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfb0df', endColorstr='#00eeeeee',GradientType=0 );
}

.typeinsecte {
	background: -moz-linear-gradient(top, rgba(231,239,160,1) 0%, rgba(236,238,220,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,239,160,1)), color-stop(77%,rgba(236,238,220,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(231,239,160,1) 0%,rgba(236,238,220,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(231,239,160,1) 0%,rgba(236,238,220,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(231,239,160,1) 0%,rgba(236,238,220,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(231,239,160,1) 0%,rgba(236,238,220,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7efa0', endColorstr='#00eeeeee',GradientType=0 );
}

.typevol {
	background: -moz-linear-gradient(top, rgba(168,200,240,1) 0%, rgba(222,229,238,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,200,240,1)), color-stop(77%,rgba(222,229,238,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(168,200,240,1) 0%,rgba(222,229,238,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(168,200,240,1) 0%,rgba(222,229,238,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(168,200,240,1) 0%,rgba(222,229,238,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(168,200,240,1) 0%,rgba(222,229,238,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8c8f0', endColorstr='#00eeeeee',GradientType=0 );
}

.typenormal {
	background: -moz-linear-gradient(top, rgba(233,214,220,1) 0%, rgba(237,232,234,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,214,220,1)), color-stop(77%,rgba(237,232,234,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(233,214,220,1) 0%,rgba(237,232,234,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(233,214,220,1) 0%,rgba(237,232,234,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(233,214,220,1) 0%,rgba(237,232,234,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(233,214,220,1) 0%,rgba(237,232,234,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9d6dc', endColorstr='#00eeeeee',GradientType=0 );
}

.typeelectrique {
	background: -moz-linear-gradient(top, rgba(251,230,148,1) 0%, rgba(241,236,217,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,230,148,1)), color-stop(77%,rgba(241,236,217,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(251,230,148,1) 0%,rgba(241,236,217,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(251,230,148,1) 0%,rgba(241,236,217,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(251,230,148,1) 0%,rgba(241,236,217,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(251,230,148,1) 0%,rgba(241,236,217,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe694', endColorstr='#00eeeeee',GradientType=0 );
}

.typesol {
	background: -moz-linear-gradient(top, rgba(236,216,163,1) 0%, rgba(238,233,221,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,216,163,1)), color-stop(77%,rgba(238,233,221,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(236,216,163,1) 0%,rgba(238,233,221,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(236,216,163,1) 0%,rgba(238,233,221,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(236,216,163,1) 0%,rgba(238,233,221,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(236,216,163,1) 0%,rgba(238,233,221,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecd8a3', endColorstr='#00eeeeee',GradientType=0 );
}

.typecombat {
	background: -moz-linear-gradient(top, rgba(236,167,163,1) 0%, rgba(238,222,221,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,167,163,1)), color-stop(77%,rgba(238,222,221,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(236,167,163,1) 0%,rgba(238,222,221,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(236,167,163,1) 0%,rgba(238,222,221,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(236,167,163,1) 0%,rgba(238,222,221,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(236,167,163,1) 0%,rgba(238,222,221,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eca7a3', endColorstr='#00eeeeee',GradientType=0 );
}

.typepsy {
	background: -moz-linear-gradient(top, rgba(250,149,179,1) 0%, rgba(241,218,224,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,149,179,1)), color-stop(77%,rgba(241,218,224,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(250,149,179,1) 0%,rgba(241,218,224,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(250,149,179,1) 0%,rgba(241,218,224,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(250,149,179,1) 0%,rgba(241,218,224,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(250,149,179,1) 0%,rgba(241,218,224,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa95b3', endColorstr='#00eeeeee',GradientType=0 );
}

.typeroche {
	background: -moz-linear-gradient(top, rgba(229,218,170,1) 0%, rgba(236,233,222,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,218,170,1)), color-stop(77%,rgba(236,233,222,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(229,218,170,1) 0%,rgba(236,233,222,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(229,218,170,1) 0%,rgba(236,233,222,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(229,218,170,1) 0%,rgba(236,233,222,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(229,218,170,1) 0%,rgba(236,233,222,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5daaa', endColorstr='#00eeeeee',GradientType=0 );
}

.typespectre {
	background: -moz-linear-gradient(top, rgba(196,185,214,1) 0%, rgba(228,226,232,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,185,214,1)), color-stop(77%,rgba(228,226,232,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(196,185,214,1) 0%,rgba(228,226,232,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(196,185,214,1) 0%,rgba(228,226,232,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(196,185,214,1) 0%,rgba(228,226,232,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(196,185,214,1) 0%,rgba(228,226,232,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4b9d6', endColorstr='#00eeeeee',GradientType=0 );
}

.typedragon {
	background: -moz-linear-gradient(top, rgba(177,148,251,1) 0%, rgba(224,217,241,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(177,148,251,1)), color-stop(77%,rgba(224,217,241,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(177,148,251,1) 0%,rgba(224,217,241,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(177,148,251,1) 0%,rgba(224,217,241,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(177,148,251,1) 0%,rgba(224,217,241,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(177,148,251,1) 0%,rgba(224,217,241,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b194fb', endColorstr='#00eeeeee',GradientType=0 );
}

.typeglace {
	background: -moz-linear-gradient(top, rgba(175,224,224,1) 0%, rgba(224,235,235,1) 77%, rgba(238,238,238,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,224,224,1)), color-stop(77%,rgba(224,235,235,1)), color-stop(100%,rgba(238,238,238,0)));
	background: -webkit-linear-gradient(top, rgba(175,224,224,1) 0%,rgba(224,235,235,1) 77%,rgba(238,238,238,0) 100%);
	background: -o-linear-gradient(top, rgba(175,224,224,1) 0%,rgba(224,235,235,1) 77%,rgba(238,238,238,0) 100%);
	background: -ms-linear-gradient(top, rgba(175,224,224,1) 0%,rgba(224,235,235,1) 77%,rgba(238,238,238,0) 100%);
	background: linear-gradient(to bottom, rgba(175,224,224,1) 0%,rgba(224,235,235,1) 77%,rgba(238,238,238,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afe0e0', endColorstr='#00eeeeee',GradientType=0 );
}