<div class="jumbotron col-lg-offset-2 col-lg-8">
    <h1>Pokedex</h1>
    <table class="table">
		<tr>
			<th>Numéro</th>
			<th>Image</th>
			<th>Pokemon</th>
			<th>Fiche</th>
		</tr>
		<tr ng-repeat="pokemon in pokemons">
			<td>
				<p>{{pokemon.num}}</p>
			</td>
			<td>
				<img height="42" width="42" ng-src="http://www.pokebip.com/pokemon/pokedex/images/sugimori/{{pokemon.num | num}}.png" />
			</td>
			<td>
				<p>{{pokemon.nom}}</p>
			</td>
			<td>
				<button class="btn btn-default btn-xs" ng-click="loadFiche(pokemon.num)">Accéder à la fiche</button>
			</td>
		</tr>
    </table>
</div>