<div class="container">
	<div class="row text-center" ng-show="loading">
		<img src="assets/img/loader.gif" width="100px" height="100px">
	</div>

	<div ng-hide="loading">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8">
				<div class="pokemon-header">
					<div class="row">
						<div class="col-lg-8">
							<h1>{{pokemon.nom}} // {{pokemon.numero}}</h1>
							<p>{{pokemon.nomen}} [EN]</p>
							<p>{{pokemon.nomja}} [JA]</p>
							<p>{{pokemon.nomde}} [DE]</p>
						</div>
						<div class="col-lg-4">
							<img height="220" ng-src="http://www.pokebip.com/pokemon/pokedex/images/sugimori/{{pokemon.numero | num}}.png" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<div class="panel">
					<div class="panel-heading" ng-class="{
	menufeu: checkType('Feu'),
	menueau: checkType('Eau'),
	menuplante: checkType('Plante'),
	menupoison: checkType('Poison'),
	menuinsecte: checkType('Insecte'),
	menuvol: checkType('Vol'),
	menunormal: checkType('Normal'),
	menuelectrique: checkType('Électrique'),
	menucombat: checkType('Combat'),
	menupsy: checkType('Psy'),
	menusol: checkType('Sol'),
	menuroche: checkType('Roche'),
	menuspectre: checkType('Spectre'),
	menudragon: checkType('Dragon'),
	menuglace: checkType('Glace')
}">
						<h3 class="panel-title">Liste des attaques</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<tr>
								<th>Attaque</th>
								<th>Puissance</th>
								<th>Précision</th>
								<th>PP</th>
							</tr>
							<tr ng-repeat="attaque in pokemon.attaques">
								<td>{{attaque.nom}}</td>
								<td>{{attaque.puissance}}</td>
								<td>{{attaque.precision}}</td>
								<td>{{attaque.pp}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="panel">
					<div class="panel-heading" ng-class="{
						menufeu: checkType('Feu'),
						menueau: checkType('Eau'),
						menuplante: checkType('Plante'),
						menupoison: checkType('Poison'),
						menuinsecte: checkType('Insecte'),
						menuvol: checkType('Vol'),
						menunormal: checkType('Normal'),
						menuelectrique: checkType('Électrique'),
						menucombat: checkType('Combat'),
						menupsy: checkType('Psy'),
						menusol: checkType('Sol'),
						menuroche: checkType('Roche'),
						menuspectre: checkType('Spectre'),
						menudragon: checkType('Dragon'),
						menuglace: checkType('Glace')
					}">
						<h3 class="panel-title">Informations générales</h3>
					</div>
					<div class="panel-body">
						<span>{{pokemon.nom}} mesure <strong>{{pokemon.taille}} m</strong> pour <strong>{{pokemon.poids}} kg</strong>.</span>
						<span>Il est un pokémon de l'espèce <strong>{{pokemon.espece}}</strong>.</span>

						<h3>Types</h3>
						<span ng-if="pokemon.types.length == 1">{{pokemon.nom}} est de type <strong>{{pokemon.types[0]}}</strong>.</span>
						<span ng-if="pokemon.types.length > 1">{{pokemon.nom}} est de double-type <strong>{{pokemon.types[0]}}</strong> et <strong>{{pokemon.types[1]}}</strong>.</span>

						<h3>Capacités spéciales</h3>
						<span ng-if="pokemon.capspes.length == 1">{{pokemon.nom}} peut uniquement disposer de la capacité spéciale <strong>{{pokemon.capspes[0]}}</strong>.</span>
						<span ng-if="pokemon.capspes.length > 1">{{pokemon.nom}} peut disposer des capacités spéciales suivantes :
							<ul>
								<li ng-repeat="cap in pokemon.capspes"><strong>{{cap}}</strong></li>
							</ul>
						</span>

						<h3>Groupes d'oeufs</h3>
						<span ng-if="pokemon.groupoeufs.length == 1">{{pokemon.nom}} peut uniquement s'accoupler avec les pokémons du groupe <strong>{{pokemon.groupoeufs[0]}}</strong>.</span>
						<span ng-if="pokemon.groupoeufs.length > 1">{{pokemon.nom}} peut s'accoupler avec les groupes d'oeufs suivants :
							<ul>
								<li ng-repeat="group in pokemon.groupoeufs"><strong>{{group}}</strong></li>
							</ul>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-offset-2 col-lg-8">
				<h2>Chat</h2>
				<p>Il y a actuellement {{nbusers}} utilisateurs lisant cette fiche.</p>
				<div class="panel">
				    <div class="panel-heading" ng-class="{
						menufeu: checkType('Feu'),
						menueau: checkType('Eau'),
						menuplante: checkType('Plante'),
						menupoison: checkType('Poison'),
						menuinsecte: checkType('Insecte'),
						menuvol: checkType('Vol'),
						menunormal: checkType('Normal'),
						menuelectrique: checkType('Électrique'),
						menucombat: checkType('Combat'),
						menupsy: checkType('Psy'),
						menusol: checkType('Sol'),
						menuroche: checkType('Roche'),
						menuspectre: checkType('Spectre'),
						menudragon: checkType('Dragon'),
						menuglace: checkType('Glace')
					}">
				        <h3 class="panel-title">Discutez de {{pokemon.nom}}</h3>
				    </div>
				    <div class="panel-body chatbox">
				        <ul class="list-unstyled">
							<li ng-repeat="message in messages">
								<span class="text-primary">Un {{message.from}} dit :</span> {{message.message}}
								<hr>
							</li>
						</ul>
				    </div>
				</div>
				<div class="row">
					<form ng-submit="sendMessage()">
						<div class="col-lg-offset-3 col-lg-6">
							<div class="form-group col-lg-8">
								<input type="text" class="form-control" placeholder="Votre message..." ng-model="message" required />
							</div>
							<div class="form-group col-lg-2">
								<input type="submit" class="btn btn-default btn-flat" value=">>" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>